/******** background ********/

body {
    background-color: #000;
    color: #FFF;
    font-family: Helvetica;
}

/******** title ********/

.regulation-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.regulation-header img {
    height: 40px;
    margin-top: -5px;
    margin-left: 5px;
}

h1 {
    line-height: 60px;
    font-size: 50px;
}

/******** regulation links ********/

.regulation-links {
    display: flex;
    flex: 0 0 33.3333%;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: auto;
    gap: 10px;
}

.regulation-links a.regulation-link {
    height: 70px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #121212;
    color: #FFF;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    flex-direction: column;
    gap: 10px;
    border: solid 20px #121212;
}

.regulation-links a.regulation-link:hover {
    background-color: #222;
    transition: 0.3s;
    border: solid 20px #222;
}

.regulation-links a img {
    height: 30px;
}

/******** user created links ********/

regulation-fanmade {
    height: 110px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    flex-direction: column;
    margin: 0px 20px;
}

a.regulation-usercreated, a.regulation-usercredit {
    background-color: #121212;
    border: solid #121212;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

a.regulation-usercreated {
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    border-width: 5px 20px 0px 20px;
    color: #FFF;
}

a.regulation-usercredit {
    height: 35px;
    border-radius: 0px 0px 5px 5px;
    border-width: 10px 20px 10px 20px;
    line-height: 12px;
    font-size: 14px;
    color: #ffffff6b;
}

a.regulation-usercreated:hover, a.regulation-usercredit:hover {
    background-color: #222;
    transition: 0.3s;
}

a.regulation-usercreated:hover {
    border-width: 5px 20px 0px 20px !important;
    border: solid #222;
}

a.regulation-usercredit:hover {
    border-width: 10px 20px 10px 20px !important;
    border: solid #222;
}

/******** credit ********/

.regulation-credit {
    width: 100%;
    margin: auto;
    background-color: #000;
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
}

.regulation-credit a, .regulation-break {
    display: flex;
    justify-content: center;
    padding: 7px;
    font-family: Helvetica;
    font-weight: bold;
    opacity: 0.5;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
}

.regulation-credit a:hover {
    opacity: 1;
    transition: 0.5s;
}